<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::MSP::</title>
<link href="styles/style.css" rel="stylesheet" type="text/css" />
<link href="styles/jMask.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/jMask.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js" ></script>
<script type="text/javascript" src="js/raphael-min.js"  ></script>
<script type="text/javascript" src="js/custom.js"  ></script>
<script type="text/javascript" src="js/common.js"  ></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		$("#hide").click(function(){
  			$(".login_box").hide();
		});
		$("#show").click(function(){
  			$(".login_box").show();
		});
	});
	</script>

</head>

<body>
<div id="main">
<div id="header">
<div id="top">
<div id="login"><a href="#" id="show">Login</a></div>
<div class="login_box">
<div class="login_inner">
<Div class="sign_in_form1">
<input name="" type="text" class="sign_in_textarea" value="E-mail id" onblur="if (this.value=='') { this.value='E-mail id'; }" onfocus="if (this.value=='E-mail id') { this.value=''; }" />
</Div>

<Div class="sign_in_form1">
<input name="" type="password" class="sign_in_textarea" value="Password" onblur="if (this.value=='') { this.value='Password'; }" onfocus="if (this.value=='Password') { this.value=''; }" />
</Div>

<div class="keepme"><input name="" type="checkbox" value="" />Keep me signed in </div>

<div class="keepme"> 
<div class="signin_top"><a href="#"><input type="submit" name="button" id="button" value="Sign In" class="button" /></a>
</div>
<div class="forgot_signin">Forgot password</div>   
</div>



<a href="#" id="hide" class="close"></a>


</div>
</div>
</div>
<div class="logo"></div>
<div id="logo-tag"><h1><a href="index.html">care and convenience main street pharmacy</a></h1>
</div>

<div id="right_links">
<div id="toplinks">
<div class="innertoplinks"><a href="#">Feedback</a></div>
<div class="topline"></div>
<div class="innertoplinks"><a href="#">Store Locator</a></div>
<div class="topline"></div>
<div class="innertoplinks"><a href="#">Shopping Cart</a></div>
</div>

<div id="outersearch">
<div id="search">
<input type="text" name="textfield" class="textarea" />       
</div>
<a href="#"><div id="searchbtn"></div></a></div>
</div>
</div>


<div id="nav">
	<ul>
    	<li class="link01"><a href="index.html" ></a></li>
        <li class="link02"><a href="services.html"></a></li>
        <li class="link03"><a href=""></a>
        		<ul class="subnav">
                   <li><a href="refillprescription.html">Refill prescription</a></li>
                    <li><a href="transferprescription.html">Transfer prescription</a></li>
                    <li><a href="newprescription request.html">New prescription</a></li>
                    

                </ul>
        </li>
        <li class="link04"><a href="druginformation.html"></a></li>
        <li class="link05"><a href=""></a></li>
        <li class="link06"><a href=""></a></li>
        <li class="link07"><a href=""></a></li>
        <li class="link08"><a href=""></a>
        <ul class="subnav">
                   <li><a href="healthinformation.html">Health Information</a></li>
                    <li><a href="cosultation.html">Consultation Corner</a></li>
                
        </ul>
        </li>
        <li class="link09"><a href=""></a></li>
    </ul>
    
  </div>

<div class="clear"></div>
<div id="frame" style="display:none;">
</div>

<div id="createaccount_outer">
<div id="refill_outer">
<div id="createaccount_head">Welcome to Lifestyle medicines</div>
<div id="createaccount_line"></div>
<div id="healthinfo_outer01">
  <div id="privacy_outer" style="width:960px; margin-bottom:100px;">
          <div class="clear">
        
<p align="justify">All needs of our customers related to Lifestyle medication is dealt here. It is common knowledge now that the major cause of diseases results from unhealthy lifestyle observed by today’s fast paced society.  Making health-promoting lifestyle interventions as primary treatment will be the best way to prevent and cure most of the diseases.</p>

<p align="justify">Lifestyle Medicine can be broadly defined as treatment and management of a disease through lifestyle interventions like diet, exercise, stress management and similar activities. Lifestyle medicines are usually for non-life threatening diseases. To be more precise, life style medicines are used for conditions that lie between a health need and a lifestyle wish. Though lifestyle medicines are normally not prescribed by doctors, they are popular among the people because of their unique qualities.</p>

<p align="justify">Main Street Pharmacy is glad that we are responsible for positive lifestyle interventions in our customers’ daily routine. In a short while an online assistance for all lifestyle related health problems and an e-shop will be up here. Please feel free to consult our online experts and get prompt updates from our exclusive portal on lifestyle drugs! Needless to say world class lifestyle medicines are just a click away!</p>

</div>
        </div>
        <div class="clear"></div>
        </div>
</div>
</div>
</div>
<div class="clear">
                
                </div>
<div id="footer">
<div id="footer_inner">
<div class="footerlinks">
<div class="footerhead">Pharmacy Services</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Refill Prescription</a>
</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Transfer Prescription</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Consultation Corner</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Health Information Center</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Drug Information Center</a>
</div>

</div>

<div class="footerlinks">
<div class="footerhead">Pharmacy Information</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Sign In</a>
</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Services</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Activities</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Shopping Cart</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Online shopping</a></div>
</div>


<div class="footerlinks">
<div class="footerhead">Help</div>
<div class="footerlink">
<div class="icon"></div>
<a href="contact.html">Contact Us</a></div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Sitemap</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="privacypolicy.html">Privacypolicy</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="terms&condition.html">Terms&amp;condtion</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="shipping.html">Shipping Information</a></div>
</div>


<div class="footerlinks">
<div class="footerhead">Get in Touch</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/phone.png" alt="img" /></div>
+971 (0)4 446 2629</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/mail.jpg" alt="img" /></div>
mainst.rx4@gmail.com</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/link.png" alt="img" /></div>
mainst.rx@gmail.com</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/follows.png" alt="img" /></div>
<div class="follows"><a href="#"><img src="images/rss.png" alt="img" /></a></div>
<div class="follows"><a href="#"><img src="images/twitter.png" alt="img" /></a></div>
<div class="follows"><a href="#"><img src="images/facebook.png" alt="img" /></a></div>
<div class="follows"><a href="#"><img src="images/in.png" alt="img" /></a></div>

</div>
</div>
</div>
</div>
</body>
</html>
