<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
Main Street Pharmacy
</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/jMask.css" rel="stylesheet" type="text/css"/>


<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/jMask.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js" ></script>
<script type="text/javascript" src="js/raphael-min.js"  ></script>
<script type="text/javascript" src="js/custom.js"  ></script>
<script type="text/javascript" src="js/common.js"  ></script>
<script src="SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		$("#hide").click(function(){
  			$(".login_box").hide();
		});
		$("#show").click(function(){
  			$(".login_box").show();
		});
	});
	</script>
<script type="text/javascript"src="jquery.js"></script>
<script type="text/javascript">

$(document).ready(function() {

	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

});
</script>

<script type="text/javascript">
function add()
{

	var a=1;
	var b=parseInt(document.getElementById('num').value);  
	document.getElementById('num').value=a+b;
	
}

function minus()
{

	var a=1;
	var b=parseInt(document.getElementById('num').value);  
	document.getElementById('num').value=b-a;
	
}

</script>


<!-- Copyright 2000-2006 Adobe Macromedia Software LLC and its licensors. All rights reserved. -->
<!--<link href="SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main">

<div id="header">
<div id="top">
<div id="login"><a href="#" id="show">Login</a></div>
<div class="login_box">
<div class="login_inner">
<Div class="sign_in_form1">
<input name="" type="text" class="sign_in_textarea" value="E-mail id" onblur="if (this.value=='') { this.value='E-mail id'; }" onfocus="if (this.value=='E-mail id') { this.value=''; }" />
</Div>

<Div class="sign_in_form1">
<input name="" type="password" class="sign_in_textarea" value="Password" onblur="if (this.value=='') { this.value='Password'; }" onfocus="if (this.value=='Password') { this.value=''; }" />
</Div>

<div class="keepme"><input name="" type="checkbox" value="" />Keep me signed in </div>

<div class="keepme"> 
<div class="signin_top"><a href="#"><input type="submit" name="button" id="button" value="Sign In" class="button" /></a>
</div>
<div class="forgot_signin">Forgot password</div>   
</div>



<a href="#" id="hide" class="close"></a>


</div>

</div>
</div>
<div class="logo"></div>
<div id="logo-tag"><h1><a href="index.html">care and convenience main street pharmacy</a></h1>
</div>

<div id="right_links">
<div id="toplinks">
<div class="innertoplinks"><a href="#">Feedback</a></div>
<div class="topline"></div>
<div class="innertoplinks"><a href="#">Store Locator</a></div>
<div class="topline"></div>
<div class="innertoplinks"><a href="#">Shopping Cart</a></div>
</div>

<div id="outersearch">
<div id="search">
<input type="text" name="textfield" class="textarea" />       
</div>
<a href="#"><div id="searchbtn"></div></a></div>
</div>
</div>


<div id="nav">
	<ul>
    	<li class="link01"><a href="index.html" ></a></li>
        <li class="link02"><a href="services.html"></a></li>
        <li class="link03"><a href=""></a>
        		<ul class="subnav">
                   <li><a href="refillprescription.html">Refill prescription</a></li>
                    <li><a href="transferprescription.html">Transfer prescription</a></li>
                    <li><a href="newprescription request.html">New prescription</a></li>
                    

                </ul>
        </li>
        <li class="link04"><a href="druginformation.html"></a></li>
        <li class="link05"><a href="onlinestore.html"></a></li>
        <li class="link06"><a href="myaccount.html"   class="active_nav"></a></li>
        <li class="link07"><a href=""></a></li>
        <li class="link08"><a href=""></a>
        <ul class="subnav">
                   <li><a href="healthinformation.html">Health Information</a></li>
                    <li><a href="cosultation.html">Consultation Corner</a></li>
                
        </ul>
        </li>
        <li class="link09"><a href=""></a></li>
    </ul>
    
  </div>

<div class="clear"></div>-->
<div id="frame" style="display:none;">
</div>

<div id="consultation_outer">
<div id="refill_outer">
<div id="createaccount_head">My Account</div>
<div id="createaccount_line"></div>
<!---->

<div id="TabbedPanels1" class="TabbedPanels">
  <ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0">Account Details</li>
    <li class="TabbedPanelsTab" tabindex="0">Order Status and History</li>
  </ul>
  <div class="TabbedPanelsContentGroup">
  <!--content1-->
    <div class="TabbedPanelsContent">
<!--one row-->    
<div class="onerowaccount">
            <div class="accountdetails accountdeatilseach">
            <h2> Account Details</h2>
            <p>Email Address:<br />
    hgsdfshdghgsgh@gmail.com<br />
    Password:<br />
    *******************</p>
    <p>
    Security Question:<br />
    What was my first car?<br />
    Security Answer:<br />
    *******************
    </p>
    <div class="editbutton floatright">Edit </div>       </div>
        
            <div class="shippinginformation accountdeatilseach">
            	<h2> Shipping Information</h2>
                <p>Address on file: 1<br />
    Default:<br />
    tiju<br />
    tiju kt <br />
    1001, mainstreet, first floor, arcade mall<br />
    bridgeport NY
    <b> Phone:</b>103-564-635</p>
                
                <div class="editbutton floatright">Edit </div>
                </div>
            
            
            
            <div class="prescription accountdeatilseach">
            	<h2>Prescription Center</h2>
             <p><i>Managing Prescriptions is easy on CVS.com: </i> </p>
            <div class="refill_listing">
    			<ul>
                <li><b>Order refills with one click</b> </li>
                <li><b>Access your prescription records</b> when you sign up for presription management </li>
                <li><b>Access your family's prescription records</b> and manage their prescriptions  </li>
                <li><b>Set Refill Reminders</b> and never miss a dose</li>
                <li><b>And more!</b></li>
                </ul></div> 
                
              <div class="refill_listing textpadding"><i><u>Sign up for prescription managment </u>  to take advantage of all the online features or <u>Learn More</u>  </i> </div>
    		
            <div class="editbutton floatright">Edit </div>
            </div>
   
    </div>    

<!--second row-->

<div class="secondrow">

	<div class="personalinfo accountdeatilseach">
    <h2> Personal Information</h2>
                <p>&nbsp;</p>
                <p>Tijina k<br />
                  Phone: <br />
                  Email Adress: tijinaprimemove@gmail.com<br />
  <b>Preferred Contact Method:</b> Email</p>
                <div class="editbutton floatright">Edit </div>
    </div>
<!---->
<div class="personalinfo accountdeatilseach">
    <h2>Favorite MSP/ Pharmacy store</h2>
                <p>&nbsp;</p>
                <p>Favorite stores on file: 0<br />
                  Add your favorite MSP/ pharmacy store<br />
                  now by clicking Edit/Add/View <br />
  </p>
                <div class="editbutton floatright">Edit/ Add/ View</div>
    </div>
    <!---->
    
<div class="billingginfo_bound">
	<div class="billinginfo accountdeatilseach">
    
    <h2>Billing Information</h2>

                <p>Credit Card(s) on File: 0   <span>Edit/ Add/ View </span>  <br /><br />
                FSA Debit Cards on File: 0   <span>Edit/ Add/ View </span> </p>
    </div>
    
    <div class="emailcomm accountdeatilseach">
    
    <h2>Email Communications</h2>

                <p>Be among the first to know about the sales new product information and special offer from MSP/ pharmacy<br /><br />
                <b>Email Status:</b>Subscribed </p>
                <div class="emaileditbutton floatright">Edit </div>
    </div>
    
    
    
    
    </div>
    
</div>


    
    </div>
    
  <!--content2-->
    <div class="TabbedPanelsContent">
    <div class="orderstatusonerow"> <p>Your online order history does not reflect returns, adjustments or exchanges. If you have any questions or require further assistance, please
	contact us at (888)607-4287.</p>
    <h2>Order Status & History</h2>
    <table width="930" border="0">
  <tr >
    <td width="150"><h3>Refine By:</h3></td>
    <td width="150">&nbsp;</td>
    <td width="150">&nbsp;</td>
    <td width="150">&nbsp;</td>
    <td width="150">&nbsp;</td>
    <td width="150">&nbsp;</td>
  </tr>
  <tr>
    <td height="41" colspan="2"><b>Time Period</b>
      <form id="form1" name="form1" method="post" action="">
        <label>
        <select name="select" size="1" class="orderstatusonerow_list" id="select">
          <option>Last 3 Months</option>
          <option>Last 6 Months</option>
          <option>Last year</option>
          <option>Last 18 Months</option>
                                </select>
        </label>
      </form>      </td>
    <td colspan="2"><b>Order Types</b>
    <form id="form1" name="form1" method="post" action="">
        <label>
        <select name="select" size="1" class="orderstatusonerow_list" id="select">
          <option>View all order types</option>
          <option>Nonprescription</option>
          <option>Prescription refills only</option>
          <option>Prescription transfers only</option>
          <option>Prescription renew only</option>
          <option>New prescription orders only</option>
                      </select>
        </label>
      </form>    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="36" >&nbsp;</td>
    <td >&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="36" class="orderdetails"><a href="#" > Order Number</a></td>
    <td class="orderdetails"><a href="#" > Date Ordered</a></td>
    <td class="orderdetails">Order Type</td>
    <td class="orderdetails">Status</td>
    <td class="orderdetails">Delivery Type</td>
    <td class="orderdetails noborder">Total</td>
  </tr>
</table>

    </div>
    
    
    
    </div>
  </div>
</div>

<!---->
</div>
</div>
<p>&nbsp;</p>
</div>
<div class="clear">
                
                </div>
<!--<div id="footer">
<div id="footer_inner">
<div class="footerlinks">
<div class="footerhead">Pharmacy Services</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Refill Prescription</a>
</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Transfer Prescription</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Consultation Corner</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Health Information Center</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Drug Information Center</a>
</div>

</div>

<div class="footerlinks">
<div class="footerhead">Pharmacy Information</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Sign In</a>
</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Services</a>
</div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Activities</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Shopping Cart</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Online shopping</a></div>
</div>


<div class="footerlinks">
<div class="footerhead">Help</div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Contact Us</a></div>
<div class="footerlink">
<div class="icon"></div>
<a href="#">Sitemap</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Privacypolicy</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Terms&amp;condtion</a></div>

<div class="footerlink">
<div class="icon"></div>
<a href="#">Shipping Information</a></div>
</div>


<div class="footerlinks">
<div class="footerhead">Get in Touch</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/phone.png" alt="img" /></div>
+971 (0)4 446 2629</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/mail.jpg" alt="img" /></div>
mainst.rx4@gmail.com</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/link.png" alt="img" /></div>
mainst.rx@gmail.com</div>
<div class="footerlink">
<div class="footer_icons"><img src="images/follows.png" alt="img" /></div>
<div class="follows"><a href="#"><img src="images/rss.png" alt="img" /></a></div>
<div class="follows"><a href="#"><img src="images/twitter.png" alt="img" /></a></div>
<div class="follows"><a href="#"><img src="images/facebook.png" alt="img" /></a></div>
<div class="follows"><a href="#"><img src="images/in.png" alt="img" /></a></div>

</div>
</div>
</div>
</div>

                <script type="text/javascript">
jQuery(document).ready(function($){
		
$(".news-slider").jCarouselLite({
    btnNext: ".next",
    btnPrev: ".prev",
    vertical: true,
	visible: 2,
	circular: true
});

$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
	
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
	
		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});
	
	});
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
</script>-->
</body>
</html>
