@charset "utf-8";

* {
	outline:none
}
	
body {
	margin:0px;
	color:#000;
	background:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	outline:none;
}
.clear {
	margin:0px;
	padding:0px;
	clear:both;
}
form {
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	outline:none;
}

.paginate {
		color:#000;
}

.current{
	color:#000;
	font-weight:bold;
	font-size:11px;
}

.inactive {
	color:#7cc0d0;
}

textarea {font-family:Arial, Helvetica, sans-serif}

img {
	margin:0px;
	padding:0px;
}
#content {
	width:400px;
	background:url(../images/content_bg.jpg) repeat-y 0px 0px;
}
#container {
	width:100%;
	margin-top:0;
	margin-bottom:2%;
	background-color:#FFFFFF;
	/*	background:url(../images/left-bg.jpg) repeat-y left top;*/
	border:0pt solid #494a24;
}
#logo {
	float:left;
	width:219px;
	height:94px;
	background:url(../images/logo.jpg) top left no-repeat;
}
#admin-title {
	float:right;
	width:374px;
	height:103px;
	background-color:#79d2d9;

}
#leftmenu {
	float:left;
	width:75%;
	padding:0px;
	text-align:left;
	margin:0px;
}

#right-bg {
	/*background:url(../images/right-bg.jpg) repeat-y right top;*/
}

#footer {
	color:#c2c2c2;
	padding:9px 0 9px 0;
	width:100%;
	background-color:#79d2d9;

}
.footer {
	font-size:11px;
	color:#222121;
	text-decoration:none;
	
}
.footer:hover {
	font-size:11px;
	color:#000;
	text-decoration:none;
}
h2 {
	color:#faffff;
	font-size:18px;
	font-weight:bold;
}
h5 {
	font-size:11px;
	font-weight:normal;
	color:#276473;
	margin:0px;
	padding:10px 0 0 0;
}
/*------------------------------------ login page -----*/
#wrapper {
	width:400px;
	background:url(../images/login-bg.jpg) repeat-y left top;
	margin:10% auto 0px auto;
	text-align:left;
}
#login-header {
	background:url(../images/login-head.jpg) no-repeat top left;
	height:136px;
}
#wrapper span {
	color:#6294a7;
}
.wrapper-input {
	height:18px;
	width:225px;
	border:1px solid #78b0c5;
	padding-left:8px;
	vertical-align:middle;
	color:#777a44;
	font-size:13px;
	margin:0 0 0 3px;
}
#bottom {
	background:url(../images/login-bottom.jpg) no-repeat 0px 0px;
	height:31px;
}
#login-control {
	text-align:left;
	font-size:12px;
	color: #474747;
	margin:0px 0px 0px 48px;
}
#login-footer {
	clear:left;
	background:url(../images/login-foot.jpg) no-repeat bottom left;
	height:37px;
}
.login-submit {
	display:block;
	padding:5px 0 0 0px;
	border:none;
	height:20px;
	text-align:center;
	width:70px;
	color:#ffffff;
	font-weight:bold;
	background:url(../images/login-submit.jpg) no-repeat left top;
}
.login-submit:hover {
	background:url(../images/login-submit.jpg) no-repeat left bottom;
}
.textarea {
	width:265px;
}

.dropdown {
	width:269px;
}
.textfield-01 {
	width:265px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12;
	height:22px;
}
.textfield-02 {
	width:265px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12;
	height:50px;
}
.textfield {
	width:265px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12;
}
.red {
	color:#FF0000;
}
.table {
	font-size:12px;
	color: #474747;
	margin:0px;
	text-align:left;
	border:1px solid #e1e7eb;
	border-top:none;
	margin:0 0 15px 0px;
	padding-bottom:3px;
}
.titles {
	font-weight:bold;
	color:#ffffff;
	background-color:#12849e;
	padding:3px 10px;
	text-align:left;
}
.td1 td {
	color:#e9eedc;
	background-color:#8ea8c1;
	margin:0px;
	padding:2px 10px;
	text-align:left;
	border-bottom:solid 1px #fff;
}
.td2 td {
	color:#474747;
	background-color:#f1f5f7;
	margin:0px;
	height:25PX;
	padding:2px 10px;
	text-align:left;
	border-bottom:solid 1px #fff;
}



	
.td3 td {
	color:#474747;
	background-color:#e1e7eb;
	margin:0px;
	padding:2px 10px;
	text-align:left;
	border-bottom:solid 1px #fff;
}
.tdsubmit {
	color:#474747;
	padding:5px 10px;
	margin:0px;
	text-align:left;
}
.headings {
	color:#393a1c;
	font-weight:bold;
	text-decoration:none;
	padding:0 0 0 10px;
	
}
.headings a {
	color:#393a1c;
}
.headings a:hover {
	color:#6B5C38;
	text-decoration:underline;
}
.pagenos {
	font-weight:normal;
	color:#6294a7;
	text-decoration:underline;
}
.pagenos:hover {
	color:#95aeb8;
	text-decoration:none;
}
.headred {
	color:#045189;
	font-weight:bold;
	text-decoration:none;
}
.headred:hover {
	color:#990000;
	text-decoration:underline;
}
.button {
	color:#fff;
	background-color:#496376;
	font-size:11px;
	font-weight:bold;
	border:1px solid #26343e;
	padding:3px 10px;
	margin:2px 3px;
	cursor:pointer;
	text-decoration:none;
}
.button:hover {
	color:#bedeff;
	background-color:#5d7f97;
	border:1px solid #26343e;
	font-weight:bold;
	text-decoration:none;
}
.note {
	font-size: 10px;
	color:#a4b3d6;
}
.hintanchor { /*CSS for link that shows hint onmouseover*/
	font-weight: bold;
	color: navy;
	margin: 3px 8px;
}

.tddel {
	text-align:left;
	padding-left:10px;
}
.date {
	color:#3073bb;
}
#home-logout {
	float:left;
	width:150px;
	height:19px;
	padding:70px 30px 13px 0;
	margin-left:24px;
	
	
}
#welcome {
	padding:20px 0 0 30px;
}
.home {
	background:url(../images/home.jpg) no-repeat left top;
	height:34px;
	padding:0 0 0 35px;
	font-weight:bold;
	color:#2a4752;
	font-size:15px;
}
.manage {
	background:url(../images/manage.jpg) no-repeat left top;
	height:34px;
	padding:0 0 0 35px;
	font-weight:bold;
	color:#2a4752;
	font-size:15px;
}
.administrative {
	background:url(../images/administrative.jpg) no-repeat left top;
	height:34px;
	padding:0 0 0 35px;
	font-weight:bold;
	color:#2a4752;
	font-size:15px;
}

.viewcart {
	background:url(../images/viewcart.jpg) no-repeat left top;
	height:34px;
	padding:0 0 0 35px;
	font-weight:bold;
	color:#2a4752;
	font-size:15px;
}

.managecategory {
	background:url(../images/managecategory.jpg) no-repeat left top;
	height:34px;
	padding:0 0 0 35px;
	font-weight:bold;
	color:#2a4752;
	font-size:15px;
}
.logout {
	background:url(../images/logout.jpg) no-repeat left top;
	height:34px;
	padding:0 0 0 35px;
	font-weight:bold;
	color:#2a4752;
	font-size:15px;
}
.home a, .manage a, .administrative a, .logout a {
	color:#2a4752;
}
.home a:hover, .manage a:hover, .administrative a:hover, .logout a:hover {
	color:#78b0c5;
}


.top-link{
color:#000;

}
.linkinside {
	text-decoration:underline;
	color:#415b68;
	
}

.linkinside:hover {
	text-decoration:none;
	color:#415b68;
	
}

.top-link:hover{
text-decoration:none;
}
form {
margin:0px;
padding:0px;}

#innerText{
line-height:24px;}
.gridhead{
border-bottom:1px solid #fff;
border-right:1px solid #fff;
background:#69767f;
color:#fff;
padding:2px 10px;}
.grid{
border-bottom:1px solid #ebeced;
border-right:1px solid #ebeced;
background:#ffffff;
padding:2px 10px;}

.grid-table{
border-top:1px solid #fff;
border-left:1px solid #fff;}

.top-tab a{	text-decoration:none; color:#536D78; background: url(../images/li-bg.jpg) no-repeat left; padding:0 0 0 13px; }
.top-tab a:hover{text-decoration:none;	color:#000;	}

.category-select {
	width:240px;
}

.tdlink {
	text-decoration:none;
	color:#333;	
}

.tdlink:hover {
	text-decoration:underline;
}
.textfield_make {
	width:200px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12;
}
/* ---- End --- */


.input{
	width:275px;
	background:url(../images/input.gif);
	border:none;
	height:26px;
	padding-left:5px;
	padding-top:2px;
	}
.logintext{
	color:#095669;
	font-family:Times New Roman;
	font-size:20px;
	}
	
	.submitbutton {
	background:url(../images/submit.gif);
	background-repeat:no-repeat;
	border:none;

	
}

.form-text3 {
	
	color:#13142D;
	padding-top:4px;
	border:none;
	margin:0 auto;
	
}

.form-space {
	clear:both;
	height:10px;
	overflow:hidden;
	line-height:1%;
	font-size:0px;
	margin-bottom:-1px;
}

.form-text {
	float:left;
	width:175px;
	height:32px;
	color:#13142D;
	padding-top:5px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}



.arrowlistmenu{
	width:209px;
	height:auto;
	background:#FFF;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius:8px;
	margin-top:20px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	margin-left:20px;
	padding:10px;
	position:relative;
	margin-bottom:20px;
	z-index:99;

	
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font: bold 16px Times New Roman;
color: #6a6968;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/
padding: 4px 0 4px 20px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
font-style:italic;
background:url(file:///D|/MSP%20admin/images/arrow.png) no-repeat center left; /*custom bullet list image*/
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
	background-color:#e2e2de;
	color: #ee971c;
	height:25px;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius:4px;
	

}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color: #686868;
background:url(file:///D|/MSP%20admin/images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 29px; /*link text is indented 19px*/
text-decoration: none;
font-family:"Times New Roman", Times, serif;
font-style:italic;
font-size:14px;
line-height:24px;
border-bottom: 1px solid #dadada;

}

.arrowlistmenu ul li a:visited{
color: #686868;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #686868;
background-color: #F3F3F3;
}


#headr{
	width:346px;
	height:72px;
	float:left;
	margin-top:15px;
	background-image:url(file:///C|/Users/MED13/Desktop/ADMIN%20MSP/images/logo1.gif);
	background-repeat:no-repeat;
	
	}
.thick{
	width:510px;
	height:auto;
	overflow:auto;
	padding-bottom:50px; 
	background-color:#e9e9e9;
	}	

#newlogo{
	width:510px;
	height:185px;
	float:left;
	background-repeat:no-repeat;
	background:url(../images/adminlogo.gif);
	}

#thickbox_details{
	width:446px;
	height:auto;
	float:left;
	margin-left:10px;
	margin-top:20px;
	background-color:#FFFFFF;
	border:1px solid #bbbbbb;
	padding:20px;
	}	
	
.thick_table1{
	width:87px;
	height:20px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-bottom:10px;
	
	}	
	
.thick_table2{
	width:356px;
	height:20px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-bottom:10px;
	
	}	
	
.thick_table3{
	width:356px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	padding-bottom:10px;
	line-height:20px;
	
	
	}	

.print{
	width:61px;
	height:34px;
	float:right;
	margin-top:10px;
	margin-right:13px;
	background-image:url(../images/print.gif);
	
	}
	
.thick_table4{
	width:356px;
	height:20px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-bottom:10px;
	margin-left:20px;
	
	}
	
.thick_table5{
	width:400px;
	height:20px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-bottom:30px;
	line-height:20px;
	margin-left:20px;
	
	}	
	
.save{
	width:61px;
	height:34px;
	float:right;
	margin-top:10px;
	margin-right:13px;
	background-image:url(../images/save.gif);
	
	}	
	
.orderview{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	font-weight:bold;
	}	
	
	
/* ----------extra-----------	*/


.error{

font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:red;
	

}
